<pre id="taag_output_text" style="float:left;" class="fig" contenteditable="false">__/\\\\\\\\\\\\\\\____/\\\\\\\\\________/\\\\\\\\\___________/\\\\\_________/\\\\\\\\\__________________________/\\\________/\\\\\\\_______________/\\\____
 _\/\\\///////////___/\\\///////\\\____/\\\///////\\\_______/\\\///\\\_____/\\\///////\\\______________________/\\\\\______/\\\/////\\\___________/\\\\\____
  _\/\\\_____________\/\\\_____\/\\\___\/\\\_____\/\\\_____/\\\/__\///\\\__\/\\\_____\/\\\____________________/\\\/\\\_____/\\\____\//\\\________/\\\/\\\____
   _\/\\\\\\\\\\\_____\/\\\\\\\\\\\/____\/\\\\\\\\\\\/_____/\\\______\//\\\_\/\\\\\\\\\\\/___________________/\\\/\/\\\____\/\\\_____\/\\\______/\\\/\/\\\____
    _\/\\\///////______\/\\\//////\\\____\/\\\//////\\\____\/\\\_______\/\\\_\/\\\//////\\\_________________/\\\/__\/\\\____\/\\\_____\/\\\____/\\\/__\/\\\____
     _\/\\\_____________\/\\\____\//\\\___\/\\\____\//\\\___\//\\\______/\\\__\/\\\____\//\\\______________/\\\\\\\\\\\\\\\\_\/\\\_____\/\\\__/\\\\\\\\\\\\\\\\_
      _\/\\\_____________\/\\\_____\//\\\__\/\\\_____\//\\\___\///\\\__/\\\____\/\\\_____\//\\\____________\///////////\\\//__\//\\\____/\\\__\///////////\\\//__
       _\/\\\\\\\\\\\\\\\_\/\\\______\//\\\_\/\\\______\//\\\____\///\\\\\/_____\/\\\______\//\\\_____________________\/\\\_____\///\\\\\\\/_____________\/\\\____
        _\///////////////__\///________\///__\///________\///_______\/////_______\///________\///______________________\///________\///////_______________\///_____</pre>
<br>
<a href="/"><pre id="taag_output_text" style="float:left;" class="fig" contenteditable="false">'########::::'###::::'##:::'##:'########::::'##::::'##:'########::::'########::'#######::::::'######:::::'###::::'########:'########:'########:'##:::'##:
... ##..::::'## ##::: ##::'##:: ##.....::::: ###::'###: ##.....:::::... ##..::'##.... ##::::'##... ##:::'## ##::: ##.....:: ##.....::... ##..::. ##:'##::
::: ##:::::'##:. ##:: ##:'##::: ##:::::::::: ####'####: ##::::::::::::: ##:::: ##:::: ##:::: ##:::..:::'##:. ##:: ##::::::: ##:::::::::: ##:::::. ####:::
::: ##::::'##:::. ##: #####:::: ######:::::: ## ### ##: ######::::::::: ##:::: ##:::: ##::::. ######::'##:::. ##: ######::: ######:::::: ##::::::. ##::::
::: ##:::: #########: ##. ##::: ##...::::::: ##. #: ##: ##...:::::::::: ##:::: ##:::: ##:::::..... ##: #########: ##...:::: ##...::::::: ##::::::: ##::::
::: ##:::: ##.... ##: ##:. ##:: ##:::::::::: ##:.:: ##: ##::::::::::::: ##:::: ##:::: ##::::'##::: ##: ##.... ##: ##::::::: ##:::::::::: ##::::::: ##::::
::: ##:::: ##:::: ##: ##::. ##: ########:::: ##:::: ##: ########::::::: ##::::. #######:::::. ######:: ##:::: ##: ##::::::: ########:::: ##::::::: ##::::
:::..:::::..:::::..::..::::..::........:::::..:::::..::........::::::::..::::::.......:::::::......:::..:::::..::..::::::::........:::::..::::::::..:::::</pre></a>
