<li class="nav-item">
  <a class="nav-link" title="Add a Question" href="/addQ"><i class="fas fa-plus"></i>
  <span class="d-md-none">Add a Question</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" title="Sign out" href="/logout"><i class="fas fa-sign-out-alt"></i>
    <span class="d-md-none">Sign out</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/p/{{me[0]}}" title="View Profile">
  <img src="{{ url_for('static', filename='Users/'+me[0]+'.png') }}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="See your profile">
  <span class="d-md-none">{{me[1]}}</span>
</a>
</li>
