{% extends 'layout.html' %} {% block body %}
<br>
<div class="container">
  <div class="card widget">
    <div class="card-header">
      <div class="col-12 col-md-12">
        <form id="questionForm" action="{{ url_for('newquestion') }}" method="POST">
          <div class="form-group">
            <label for="textTitl">Ask a question</label>
            <input type="text" class="form-control" name="textTitl" placeholder="Type your question Title here">

            <label for="textArea">Ask a question</label>
            <textarea class="form-control" name="textArea" rows="5" placeholder="Type your question body here"></textarea>

            <label class="form" for="topicSelect">Select a topic:</label>
            <div class="control-group" name="topicSelect">
              <input type="checkbox" class="form-check-input" name="cbPsychology"> Psychology<br>
              <input type="checkbox" class="form-check-input" name="cbTravel"> Travel<br>
              <input type="checkbox" class="form-check-input" name="cbEntertainment" > Entertainment<br>
              <input type="checkbox" class="form-check-input" name="cbFood" > Food<br>
              <input type="checkbox" class="form-check-input" name="cbHobbies" > Hobbies<br>
              <input type="checkbox" class="form-check-input" name="cbNightlife"> Nightlife<br>
              <input type="checkbox" class="form-check-input" name="cbScience"> Science<br>
            </div>
          </div>
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block navleft %}
{% include 'searchHandler.html'%}
{% endblock %} {% block navright %}
{% include 'commonNav.html'%}
{% endblock %} {% block title %}Add Question {% endblock %}
