{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Profile Page</h1>
    <p class="lead">This is a preview of the Navbar on all pages but the homepage.</p>
  </div>
</div>
{% endblock %}
{% block navleft %}

<!--
<li class="nav-item active">
    <a class="nav-link" href="#">Link</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="//codeply.com">Codeply</a>
</li>
-->
<li class="nav-item">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
    </div>
  </div>
</li>
{% endblock %}
{% block navright %}
  {% include 'commonNav.html'%}
{% endblock %}
{% block title %} Profile Page {% endblock %}
