{% extends 'layout.html' %}
{% block body %}

<div class="container-fluid">

<br>

{% if ((edit == True) and (currentUser == True)) %}
<form action="{{ url_for('profile', name=me[0]) }}" method="POST" enctype = "multipart/form-data">
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <center>
    You are editing your profile now!<br>
    <button class="btn btn-success btn-sm btn-warning" > Submit changes </button>
  </center>

</div>
{% endif %}

  <div class="row">
    <div class="col-sm-2"> <!-- TODO have to add more granularity -->
      {% if currentUser == True %}
      <img src="{{ url_for('static', filename='Users/'+me[0]+'.png') }}" width="100%" alt="default" class="rounded-circle">
      {% else %}
      <img src="{{ url_for('static', filename='Users/'+other[0]+'.png') }}" width="100%" alt="default" class="rounded-circle">
      {% endif %}
      {% if ((edit == True) and (currentUser == True)) %}
      <div class="custom-file">
        <br>
        <input type="file" class="custom-file-input" id="customFile" name="file" accept=".png">
        <label class="custom-file-label" for="customFile">Edit Profile Pic</label>
      </div>
      {% endif %}
      <br>
      {% if currentUser == True %}
      <h1 id="profile_name">{{ me[1] }}</h1>
      <h5 class="text-muted"><i> ~ {{ me[0] }}</i> <span class="badge badge-pill badge-warning float-right">{{ noUpvote }} Upvotes</span></h5>
      {% else %}
      <h1 id="profile_name">{{ other[1] }}</h1>
      <h5 class="text-muted"><i> ~ {{ other[0] }}</i> <span class="badge badge-pill badge-warning float-right">{{ otherUpvote }} Upvotes</span></h5>
      {% endif %}
      {% if ((edit == True) and (currentUser == True)) %}
      <textarea class="form-control" name="bioEdit" rows="4" placeholder="Type in a short bio of yourself here!">{{ me[2] }}</textarea>

      <div class="">
        <h5>Password reset</h5>
        <input type="password" class="form-control" placeholder="New Password" name="p1">
        <input type="password" class="form-control" placeholder="Enter it again" name="p2">
      </div>
      <h5>Topics</h5>
      <div class="container">
        {% for i in range(7) %}
        {% if fllw[1][i] == True %}
        <input type="checkbox" class="form-check-input" name="cb{{fllw[0][i]}}" checked> {{fllw[0][i]}}<br>
        {% else %}
        <input type="checkbox" class="form-check-input" name="cb{{fllw[0][i]}}"> {{fllw[0][i]}}<br>
        {% endif %}
        {% endfor %}
      </div>
      {% else %}
        {% if currentUser == True %}
        <p>{{me[2]}}</p>
        {% else %}
        {% if following == True %}
        <br>
        <form action="{{ url_for('profile', name=name) }}" method="POST">
          <input type="hidden" name="unfollow" value="{{other[0]}}">
        <button type="submit" class="btn btn-primary">Unfollow</button>
      </form>
      <br>
        {% else %}
        <br>
        <form action="{{ url_for('profile', name=name) }}" method="POST">
          <input type="hidden" name="follow" value="{{other[0]}}">
        <button type="submit" class="btn btn-primary">Follow</button>
      </form>
      <br>
        {% endif %}
        <p>{{other[2]}}</p>
        {% endif %}
      {% endif %}
    </div>


    <div class="col-sm-10">
      {% if currentUser == True %}
      <div class="container-fluid">
        {% if noBMQ > 0 %}
        <div class="card">
          <div class="card-header">
            <h4>My bookmarked Questions</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {% for i in range(noBMQ) %}
              <a href="/q/{{bookmarkedQ[i][1]}}">{{bookmarkedQ[i][0]}}</a><br>
              {% endfor %}
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% if currentUser == True %}
      <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4>You should totally follow!</h4>
        </div>
        <ul class="list-group list-group-flush">
          {% if noSU == 0 %}
          <li class="list-group-item">
            <h5>There's nobody who we think you should follow :(</h5>
          </li>
          {% else %}
          {% for i in range(noSU) %}
          <li class="list-group-item">
            <img src="{{ url_for('static', filename='Users/'+suggestedUser[i][0]+'.png') }}" height="60" alt="default" class="rounded-circle float-left">
            <h5 style="display: inline">{{suggestedUser[i][1]}}</h5> ~ <a href="/p/{{suggestedUser[i][0]}}">{{suggestedUser[i][0]}}</a>
            <span class="badge badge-pill badge-warning float-right">{{ suggestedUser[i][2] }} Upvotes</span>
            <form action="{{ url_for('profile', name=name) }}" method="POST">
              <input type="hidden" name="follow" value="{{suggestedUser[i][0]}}">
            <button type="submit" class="btn btn-primary float-right">Follow</button>
          </form>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
      {% endif %}
      {% if currentUser == False %}
    <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h4>This person's last 10 posts</h4>
      </div>
      <ul class="list-group list-group-flush">
        {% if following == True %}
        {% if noUP == 0 %}
        <li class="list-group-item">
          <h5>Dude, no way... This guy hasn't posted yet...</h5>
        </li>
        {% else %}
        {% for i in range(noUP) %}
        {% if userPosts[i][0] == "Q" %}
        <li class="list-group-item">
          <h5>{{userPosts[i][1]}}</h5>
          <p>
            {{userPosts[i][2]}}
          </p>
          <a href="/q/{{userPosts[i][3]}}" class="float-right">read more</a>
        </li>
        {% else %}
        <li class="list-group-item">
          <h5>Answer to {{userPosts[i][1]}}</h5>
          <p>
            {{userPosts[i][2]}}
          </p>
          <a href="/q/{{userPosts[i][3]}}" class="float-right">read more</a>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% else %}
        <li class="list-group-item">
          <h5>To see this you must follow this user.</h5>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}

    </div>
  </div> <!-- ROW -->

{% if edit == True %}
</form>
{% endif %}


{% endblock %}
{% block navleft %}
{% include 'searchHandler.html'%}
{% endblock %}
{% block navright %}
{% if currentUser == True%}
<li class="nav-item">
  <form action="{{ url_for('profile', name=me[0]) }}" method="POST" id="d">
    <input type="hidden" name="edit" value="True">
    <a class="nav-link" onclick="$('#d').submit();" title="Edit my profile" ><i class="fas fa-edit"></i>
    <span class="d-md-none">Edit my Profile</span></a>
  </form>
</li>
{% endif %}
{% include 'commonNav.html'%}
{% endblock %}
{% block title %} Profile Page {% endblock %}
