{% extends 'layout.html' %}
{% block body %}
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4>Search results for <i>{{query}}</i></h4>
    </div>
    <ul class="list-group list-group-flush">

      {% for i in range(noPosts) %}
      <li class="list-group-item">
        <small class="text-muted float-right">{{results[i][2]}}</small>
        <h5>{{results[i][0]}}</h5>
        {{results[i][1]}}
        <a href="/q/{{results[i][3]}}" class="float-right">read more</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block navleft %}
<li class="nav-item">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" name="searchQ">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
    </div>
  </div>
</li>
{% endblock %}
{% block navright %}
  {% include 'commonNav.html'%}
{% endblock %}
{% block title %}Search Results for {{query}}{% endblock %}
