{% extends 'layout.html' %}
{% block body %}
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4>Search results for <i>{{query}}</i></h4>
    </div>
    <ul class="list-group list-group-flush">
      {% if noPosts == 0 %}
      <li class="list-group-item">
        <h5>No results found</h5>
      </li>
      {% else %}
      {% for i in range(noPosts) %}
      <li class="list-group-item">
        <small class="text-muted float-right">{{results[i][2]}}</small>
        <h5>{{results[i][0]}}</h5>
        {{results[i][1]}}
        <a href="/q/{{results[i][3]}}" class="float-right">read more</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      <h4>Search results for user: <i>{{query}}</i></h4>
    </div>
    <ul class="list-group list-group-flush">
      {% if noPosts == 0 %}
      <li class="list-group-item">
        <h5>No user with that name found</h5>
      </li>
      {% else %}
      {% for i in range(noPosts) %}
      <li class="list-group-item">
        <h5>{{results[i][0]}}</h5>
        <button type="button" class="btn btn-primary float-right">Follow</button>
        {{results[i][1]}}
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
{% block navleft %}
{% include 'searchHandler.html'%}
{% endblock %}
{% block navright %}
  {% include 'commonNav.html'%}
{% endblock %}
{% block title %}Search Results for {{query}}{% endblock %}
