
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <script src="../static/bootstrap.js"></script>
  <script src="../static/jquery-3.3.1.js"></script>
  <script src="../static/popper.js"></script>
  <link ref="stylesheet" type="text/css" href="../static/bootstrap.css">
  <link ref="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
  <!--{% extends 'layout.html' %} --> <!-- Commented out for now so that it does not print on the page anymore -->

  <!-- {% block body %} -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Profile Page</h1>
      <p class="lead">This is a preview of the Navbar on all pages but the homepage.</p>
    </div>
  </div>
  {% endblock %}

  {% block navleft %}
  <!--
  <li class="nav-item active">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="//codeply.com">Codeply</a>
  </li>
  -->
  <li class="nav-item">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </li>
  {% endblock %}

  {% block navright %}

  <li class="nav-item">
  <a class="nav-link" href="/p/">
    <img src="{{ url_for('static', filename='defaultProf.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="d-md-none">Profile</span>
  </a>
  </li>
  {% endblock %}

  {% block title %}
  Profile Page
  {% endblock %}

<div class = "row">
  <div class  = "col_xs_3">
    <aside align = "center">
      <img src="../../images/default_pic.gif" alt="Mountain View">
      <h1 id = "profile_name">Username</h1>
      <h4>Userbio</h4>
    </aside>
  </div>

  <div class = "col-xs-9">
    <main>
      This is the content of the file
    </main>
  </div>
</div>

</body>
